{% extends "base.html" %}

{% block content %}

<h2>Edit Transaction</h2>

<form method="POST">

    <label>Type</label>
    <br>

<select name="type">

    <option value="Income"
        {% if transaction[1] == "Income" %}selected{% endif %}>
        Income
    </option>

    <option value="Expense"
        {% if transaction[1] == "Expense" %}selected{% endif %}>
        Expense
    </option>

</select>

    <br><br>

    <label>Category</label>
    <br>

    <input
    type="text"
    name="category"
    value="{{ transaction[2] }}"
    required>

    <br><br>

    <label>Amount</label>
    <br>

    <input
    type="number"
    step="0.01"
    name="amount"
    value="{{ transaction[3] }}"
    required>

    <br><br>

    <label>Description</label>
    <br>

    <input
    type="text"
    name="description"
    value="{{ transaction[4] }}">

    <br><br>

    <label>Date</label>
    <br>
    
    <input
    type="date"
    name="date"
    value="{{ transaction[5] }}"
    required>

    <br><br>

    <button>Update</button>

</form>

{% endblock %}